.blog-title {
    opacity: 0;
    color: #ff46e3;
    animation: fadeIn 0.7s ease-in-out forwards;
}


/*----------------------NAV BAR----------------------*/

nav {
    background-color: #48018e;
    padding: 8px;
    margin-bottom: 0;
    animation: fadeIn 0.7s ease-in-out forwards;
}

/*tools for a (nav buttons)*/
.toola {
    color: #e4c1f9;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.7s ease, color 0.7s ease;
}

.toola:hover {
    background-color: rgb(48, 0, 90);
    color: #fa99f4;
}


/*----------------------SIDE BAR----------------------*/

aside {
    position: relative;
    float: left;
    width: 25%;
    background-color: #3c0070;
    color: #fa99f4;
    padding: 35px;
    box-sizing: border-box;
    text-align: justify;
    animation: fadeIn 0.7s ease-in-out forwards;
}

.btn {
    display: grid;
    padding: 4px 8px;
    text-align: center;
    background-color: #48018e;
    color: #e4c1f9;
    text-decoration: none;
    transition: background-color 1s ease, color 0.7s ease;
}

.btn:hover {
    background-color: rgb(48, 0, 90);
    color: #fa99f4;
}


/*----------------------LINKS----------------------*/

.othera:link {
    color: #805dfe;
    background-color: transparent;
    text-decoration: none;
}

.othera:visited {
    color: #8a44e0;
    background-color: transparent;
    text-decoration: none;
}

.othera:hover {
    color: #a391e3;
    background-color: transparent;
    text-decoration: underline;
}

.othera:active {
    color: #a391e3;
    background-color: transparent;
    text-decoration: underline;
}


/*----------------------POSTS----------------------*/

body {
    font-family: 'Courier New', monospace;
    background-color: #221b23;
}

.postcategory {
    display: none;
}

.postcategory:target {
    display: block;
}

/*article tool*/
.arttool {
    display: block;
    color: #fa99f4;
    background-color: #2e262e;
    padding: 15px;
    margin-left: 26%;
    margin-top: 5px;
    margin-bottom: 10px;
    animation: fadeIn 0.7s ease-in-out forwards;
}

.postdetails {
    text-align: right;
    font-size: 14px;
}

.postimage {
    width: 35%;
    height: 15%;
}


.writeupbtn {
    font-family: 'Courier New', monospace;
    display: inline-flex;
    padding: 4px 8px;
    text-align: center;
    border: 2px solid #fa99f4;
    background-color: #423642;
    color: #fa99f4;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.7s ease;
}

.writeupbtn:hover {
    background-color: #221b23;
    color: #fa99f4;
}

#toTop {
    font-family: 'Courier New', monospace;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    border: 2px solid #fa99f4;
    background-color: #423642;
    color: #fa99f4;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
}

#toTop:hover {
    background-color: #221b23;
    color: #fa99f4;
}

/*----------------------FOOTER----------------------*/

footer {
    background-color: #db2acc;
    color: white;
    padding: 10px;
    clear: both;
    animation: fadeIn 0.7s ease-in-out forwards;
}


/*----------------------LIGHTBOX----------------------*/

* {
    box-sizing: content-box;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    flex: 25%;
    float: left;
    padding: 5px 5px;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 25px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}


.active{
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*----------------------ANIMATIONS----------------------*/

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Styles for large screens */
@media screen and (min-width: 1024px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }
}

/* Styles for medium screens */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

/* Styles for small screens */
@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}
