@import 'tailwindcss';

/* Your custom, global styles go AFTER the directives. */
html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;

	/* THIS IS THE KEY: Set the default font for the whole app */
	font-family: 'Cormorant', serif;
}